.sub-header {
    padding: 0 4%;
    background-color: #141414;
    @apply mt-12 md:mt-20 fixed w-full z-40;
}

header:has(.sub-header) > header {
    background-color: #141414 !important;
    transition: none !important;
}

header nav .active {
    @apply text-white font-semibold;
}

.show-section {
    margin: 2vw 0;
    @apply w-full z-10;
}