.modal {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    @apply flex flex-col absolute z-50 h-fit w-fit outline-none select-none;
}

.modal-content {
    height: 190px;
    width: 340px;
    @apply hover:cursor-pointer rounded-md overflow-y-visible;
}

.modal-header {
    height: 190px;
    @apply w-full rounded-t-md bg-black relative;
}

.modal-body {
    @apply flex flex-col gap-4 p-4 h-fit rounded-b-md;
    background-color: #181818;
}

.evidence-separator {
    @apply mr-2;
}

.evidence-separator::before {
    color: #646464;
    content: "\2022";
    display: inline-block;
}