.modal {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    @apply flex flex-col absolute z-20 h-fit w-fit outline-none;
}

.modal-content {
    height: 190px;
    width: 340px;
    @apply hover:cursor-pointer rounded-md overflow-y-visible;
}

.modal-header {
    height: 190px;
    @apply w-full rounded-t-md bg-black relative;
}

.modal-body {
    @apply flex flex-col gap-4 p-4 h-fit rounded-b-md;
    background-color: #181818;
}