.sub-header {
    padding: 0 4%;
    background-color: #141414;
    @apply mt-20 fixed w-full z-50;
}

#root:has(.sub-header) > header {
    background-color: #141414 !important;
    transition: none !important;
}

header nav .active {
    @apply text-white font-semibold;
}