header:has(.sidebar) {
    transition: none !important;
    background-color: #000 !important;
}

.sidebar {
    transform: translateX(-100%);
    @apply absolute top-full left-0 z-50;
}

.sidebar.showing {
    transition: transform .3s;
    transition-delay: 1ms;
    transform: translateX(0);
}

.sidebar.visible {
    transform: translateX(0);
}

.sidebar.hiding {
    transition: transform .3s;
    transform: translateX(-100%);
}

.sidebar nav li {
    border-left: 3px solid;
    color: #808080;
    @apply font-bold py-1 px-5 border-l-black;
}

.sidebar nav li:has(.active) {
    @apply border-l-red-600 text-white;
}