@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    @apply h-full w-full
}

#root {
    @apply flex flex-col bg-black text-white
}

main {
    @apply flex-1
}

footer {
    @apply mt-auto
}

.text-red {
    color: #FF0000;
}

.text-light {
    color: #8c8c8c;
}

.text-dark {
    color: #737373;
}

.divider {
    border-top: 1px solid #737373;
}

@media (min-width: 768px) {
    #netflixLogo {
        height: 45px;
        width: 167px;
    }
    main.login {
        max-width: 450px;
        @apply w-full mx-auto p-20
    }
}