@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    @apply h-full w-full
}

#root {
    @apply flex flex-col bg-black text-white
}

main {
    @apply flex-1
}

footer {
    @apply mt-auto
}

.text-red {
    color: #FF0000;
}

.border-red {
    border-color: #FF0000;
}

.bg-red {
    background-color: #FF0000;
}

.text-light {
    color: #8c8c8c;
}

.border-light {
    border-color: #8c8c8c;
}

.text-dark {
    color: #737373;
}

.border-dark {
    border-color: #737373;
}

.divider {
    border-top: 1px solid #737373;
}

.text-xs {
    font-size: .65rem;
}

.text-xxs {
    font-size: .5rem;
}

.button-classic {
    @apply bg-none border border-light hover:border-white hover:text-white text-xs md:text-sm text-light font-medium px-4 py-2 outline-none
}

.button-classic-2 {
    @apply bg-white border border-white hover:border-red-600 hover:bg-red-600 hover:text-white text-xs md:text-sm text-black font-medium px-4 py-2 outline-none
}

.badge {
    background-color: #333;
    @apply p-2 text-xxs md:text-xs w-fit
}

.expand  {
    width: 1000px;
}

.px-4p {
    padding: 0 4%;
}

.mx-4p {
    margin: 0 4%;
}

.p16x9 {
    padding: 28.125% 0;
}

@media (min-width: 768px) {
    #netflixLogo {
        height: 45px;
        width: 167px;
    }
    main.login {
        max-width: 450px;
        @apply w-full mx-auto p-20
    }
}

@keyframes pulsateAnimation {
    0% {
        background-color: #1a1a1a;
    }
    25% {
        background-color: #333;
    }
    50% {
        background-color: #1a1a1a;
    }
    100% {
        background-color: #1a1a1a;
    }
}

.pulsate {
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-name: pulsateAnimation;
    animation-timing-function: ease-in-out;
}

.chevron {
    transform: rotate(0deg);
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
}