.slider {
    padding: 0 4%;
    @apply relative overflow-hidden box-content;
}

.slider-mask {
    @apply relative overflow-x-visible;
}

.slider-content {
    @apply flex;
}

.slider-item {
    @apply shrink-0;
}

.shows .slider-item {
    padding: 0 .2vw;
}

.slider-item:first-child {
    padding-left: 0;
}

.slider-item:last-child {
    padding-right: 0;
}

.slider .move-left, .slider .move-right {
    width: 4%;
    @apply absolute top-0 h-full z-20 lg:hidden
}

.slider:hover .move-left, .slider:hover .move-right {
    @apply block;
}

.slider .move-left > svg, .slider .move-right > svg {
    @apply fill-white h-4 w-2 block m-auto
}

.shows .slider .move-left > svg, .shows .slider .move-right > svg {
    @apply h-6 w-4
}

.slider .move-left:hover > svg, .slider .move-right:hover > svg {
    @apply h-6 w-4
}

.shows .slider .move-left:hover > svg, .shows .slider .move-right:hover > svg {
    @apply h-8 w-6
}

.slider .move-left {
    /* display: none !important; */
    @apply left-0 rounded-tr-md rounded-br-md
}

.slider .move-right {
    @apply right-0 rounded-tl-md rounded-bl-md lg:hidden lg:hover:block
}

@media screen and (max-width: 499px) {
    .shows .slider .slider-item {
        width:50%
    }
}

@media screen and (min-width: 500px) and (max-width:799px) {
    .shows .slider .slider-item {
        width:33.333333%
    }
}

@media screen and (min-width: 800px) and (max-width:1099px) {
    .shows .slider .slider-item {
        width:25%
    }
}

@media screen and (min-width: 1100px) and (max-width:1399px) {
    .shows .slider .slider-item {
        width: 20%;
    }
}

@media screen and (min-width: 1400px) {
    .shows .slider .slider-item {
        width:16.66666667%
    }
}